/**----global----*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

html{
	font-family: Segoe UI, sans-serif;

}

body{
	width: 100%;
}

h1{
	font-size: 30px;
	font-weight: 100;
	color: black;
}

h2{
	font-size: 20px;
	font-weight: 150;
	color: white;
}

p {
	font-size: 16px;
}

.façade{
	display: none;
}

.btnOutline{
	display: block;
	text-decoration: none;
	color: #6E441A;
	border: 1px solid #6E441A;
	border-radius: 40px;
	width: 255px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin-bottom-top: 30px;
	padding: 0 3%;
	margin-top: 60px;
}

.btnOutline:hover{
	background-color: #6E441A;
	color: white;

}


/**----nav----*/

nav{
	line-height: 150px;
}

/**----header----*/

header{
	background-image: url(images/Fond.png);
	background-repeat: no-repeat;
	padding: 0 5%;
	background-size: contain;
}

header h1 {
	width: 255px;
	height: 45px;
	margin 2em 0 0 0;
	text-align: center;
	margin-bottom-top: 30px;
	padding: 0 3%;
	font-size: 20px;
	margin-top: 15px;
}

/**----carte----*/

.carte{
	width: 500px;
	margin-top: -20%;
	margin-left: 50%;
}

#cartepetite{
	width: 70%;
}

/**----contact----*/

.contact{
	text-align: center;
	margin-top: 5%;
}

h3{
	font-size: 20px;
	color: #6E441A;
	font-weight: 130;
}

.btnSocial{
	display: center;
	text-decoration: none;
	color: white;
	border: 1px solid #6E441A;
	border-radius: 40px;
	width: 255px;
	height: 50px;
	line-height: 45px;
	text-align: center;
	margin-bottom-top: 30px;
	padding: 0 3%;
	margin-top: 70px;
	background-color: #6E441A;
}

.btnSocial:hover{
	background-color: white;
	color:  #6E441A;

}

#formules{
	margin-left: 22%;
	position: center;
	text-align: center;
	margin-top: -5%;
	font-size: 25px;
}

h4{
	margin-top: 10px;
	font-family: Segoe UI, sans-serif;
	font-weight: 60;
}

.photos{
	position: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 4%;
}

#resize{
	width: 30%;
}

h5{
	margin-top: 36px;
	font-family: Segoe UI, sans-serif;
	font-size: 25px;
	position: center;
	font-weight: 500;
	text-align: center;
}

.about{
	position: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 3%;
	text-align: center;
}

footer{
	text-align: center;
}

h6{
	padding-top: 3%;
	font-size: 20px;
}

h7{
	padding-top: 1%;

}

h8{
	font-size: 10px;
}

iframe{
	margin-top: -60%;
}


@media only screen and (max-width: 991px){

	 nav {
		display: block;
  		margin-left: auto;
 		margin-right: auto;
 		width: 50%;
 		padding-right: 6%;
	}

	header{
		background-image: none;
		padding: 0;
}

	.informations{
		text-align: center;
		margin-left: 2%;
		margin-top: -30%;
		padding-bottom: 6%;
	}


	.carte{
		display: none;
	}

}

h7{
	padding-top: 1%;

}

h8{
	font-size: 10px;
}

h6{
	padding-top: 3%;
	font-size: 17px;
}

h5{
	font-size: 20px;
}

a{
	margin: auto;
}

h1{
	margin: auto;
}

.façade{
	display: block;
	width: 80%;
	padding-right: 3%;
	margin: auto;
	margin-top: 3%;
	margin-bottom: 8%;
}

.photos{
	padding: auto;
	margin: auto;
}
}

