
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    font-family: Helvetica;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #e3ebf7;
}

.active {
    background-color: #96c0ff;
}

h1{
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	font-size: 200%;
}

h2{
	text-align: center;
	font-size: 105%;
	font-family: 'MS Sans Serif', Geneva, sans-serif;

}

h3{
	text-align: center;
	font-size: 150%;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
}

h4{
	text-align: center;
	font-size: 80%;
	font-family: 'MS Sans Serif', Geneva, sans-serif;

}

p{
	text-align: center;
	font-size: 110%;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}


h5{
 	text-align: center;
	font-size: 60%;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
}
 
button{
	width: 40%;
	height: 130px;
	background: url(coeur.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

#description{
	visibility:hidden;
	-webkit-animation: fadein 3s linear 1 normal forwards;
}

@-webkit-keyframes fadein{
    from { opacity: 0; }
    to { opacity: 1; }
}

.youtube{
	margin: 5%;
}

img{
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#gif{
	width: 80%;
}