@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

body {
  margin: 0;
}

section {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

section:nth-of-type(1) {
  background-image: url(images/accueil/1.jpg);
}

section:nth-of-type(2) {
  background-image: url(images/projets/2.png);
  color: #393939;
}

section:nth-of-type(5) {
  background-color: #312783;
}

h1 {
  color: white;
  letter-spacing: 15px;
  font-family: Product Sans;
  font-weight: 300;
  font-size: 5em;
  font-style: normal;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: auto;
  margin: auto;
  margin-left: 10px;
}

button {
  font-family: Product Sans;
  font-weight: 90;
  font-size: 1.8em;
  font-style: normal;
  writing-mode: vertical-lr;
  letter-spacing: 6px;
  text-align: center;
  background: none;
  border: none;
  opacity: 0.3;
}

button:hover {
  opacity: 1;
}

li {
  display: inline;
  font-size: 16px;
  margin: 5%;
  color: white;
  letter-spacing: 1px;
  font-family: Product Sans;
  font-weight: 300;
  font-size: 1em;
  font-style: normal;
}

ul {
  margin-top: 42%;
  margin-left: 19%;
}

h2 {
  letter-spacing: 15px;
  font-family: Product Sans;
  font-weight: 300;
  font-size: 5em;
  font-style: normal;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  position: sticky;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  margin-right: auto;
}

h3:nth-of-type(1) {
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 15%;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: auto;
}

h3:nth-of-type(2) {
  transform: rotate(-90deg);
  position: absolute;
  margin-top: 30%;
  margin-bottom: auto;
  margin-left: 1%;
  margin-right: auto;
}

h4 {
  background-color: white;
  font-size: 15px;
  writing-mode: horizontal-tb;
  width: 30%;
  margin-left: 20%;
  margin-bottom: 10%;
  position: absolute;
  padding: 2%;
  font-family: arial;
  line-height: 135%;
  text-decoration: none;
  font-weight: 170;
}

h4:nth-of-type(2) {
  margin-left: 60%;
}

h6 {
  font-family: Product Sans;
  font-weight: 90;
  font-size: 4em;
  font-style: normal;
  letter-spacing: 6px;
  text-align: center;
  background: none;
  border: none;
  opacity: 1;
  color: #312783;
  margin-left: 60%;
  position: absolute;
  margin-top: 10%;
}

h7 {
  font-family: Product Sans;
  font-weight: 90;
  font-size: 1em;
  font-style: normal;
  letter-spacing: 6px;
  text-align: center;
  background: none;
  border: none;
  opacity: 1;
  color: black;
  margin-left: -40%;
  position: absolute;
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: white;
  font-family: arial;
  font-size: 18px;
  font-stretch: 20%;
  letter-spacing: 3px;
  line-height: 135%;
}

footer{
  background-color: #312783;
}
footer:nth-of-type(1){
  font-family: arial;
  color:white;
  text-align:center;
  line-height: 115%;
}

.button1 {
  color: white;
  padding-left: 40%;
  padding-top: 55%;
  position: absolute;
  transform: rotate(90deg);
  width: 100%;
}

.logos {
  margin: 2%;
  margin-left: 1%;
  margin-right: auto;
  margin-bottom: auto;
  width: 60%;
  height: 100%;
  padding: none;
}

.logostaille {
  width: 14%;
}

.contact {
  position: absolute;
  margin-left: 20%;
  margin-top: 35%;
}

.contact:nth-of-type(2) {
  margin-top: 37%;
}

.contact:nth-of-type(3) {
  margin-left: 60%;
  margin-top: 23%;
}

.contact:nth-of-type(4) {
  margin-left: 60%;
  margin-top: 25%;
}

.contact:nth-of-type(5) {
  margin-top: 10%;
}

.logosDescription {
  margin-top: 17%;
  padding: 20%;
  padding-top: 0;
  margin-left: -55%;
}

.logosDescriptionRestaurant {
  margin-top: 15%;
  padding: 20%;
  color: #695a5a;
  margin-left: -55%;
}

.logosrestautant {
  margin-top: 20%;
  margin-left: -30%;
  position: absolute;
}

#imagesUnderthe1 {
  padding-top: 55%;
  position: absolute;
  transform: rotate(90deg);
  width: 100%;
  margin-left: 60%;
  margin-top: 100%;
}

#imagesUnderthe2 {
  padding-top: 55%;
  position: absolute;
  transform: rotate(90deg);
  width: 100%;
  margin-left: 80%;
  margin-top: 100%;
}

#navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
}